<h1>Rewards Form</h1>

<%= form_for @reward do |l| %> 

  <div class="field">
    <div><%= l.label :pledge_limit %></div>
    <%= l.text_field :pledge_limit %> <br>
  </div>
  <div class="field">
    <div><%= l.label :description %></div>
    <%= l.text_area :description %> <br>
  </div>
  <div class="action">
    <%= l.submit %>
  </div>

  <% end %>
