<%= form_for @project do |l| %> 
  <div class="field">
    <div><%= l.label :name %></div>
    <%= l.text_field :name %> <br>
  </div>
  <div class="field">
    <div><%= l.label :description %></div>
    <%= l.text_area :description %> <br>
  </div>
  <div class="field">
    <div><%= l.label :funding_goal %></div>
    <%= l.text_field :funding_goal %> <br>
  </div>
  <div class="field">
    <div><%= l.label :start_date %></div>
    <%= l.date_select :start_date %><br>
  </div>
    <div class="field">
    <div><%= l.label :end_date %></div>
    <%= l.date_select :end_date %><br>
  </div>

<!-- Adding a nested Rewards form. It's possible through the associations made between projects and rewards -->

  <h1>Add Rewards</h1>
    <div id= "rewards">
      <%= l.fields_for :rewards do |reward_fields| %>
        <div>
          <%= reward_fields.label :pledge_limit %>
          <%= reward_fields.text_field :pledge_limit %>
        </div>
        <div>
          <%= reward_fields.label :description %>
          <%= reward_fields.text_area :description %>
        </div>
      <% end %>
    </div>
      <!-- when time add a picture -->

  <div class="action">
    <%= l.submit %>
  </div>
  <% end %>
