<h1>Punchface</h1>

<% if can? :create, Project %>
  <%= link_to "New Project", new_project_path %>
<% end %>

<div class = "search">
  <%= form_tag projects_path, method: :get, authentication: false, id:'search-form' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>  
</div>

<div id="projects">
  <%= render @projects %>
</div>