<h1>Show Project</h1>
<div class="project_list">
  <div><%= @project.name %></div>
  <div><%= @project.description %></div>
  <div><%= @project.funding_goal %></div>
  <div><%= @project.end_date %></div> 
  <div><%= number_to_currency @project.total_pledged %></div> 

   <div><%= link_to "Back", projects_path %>
  <div> <%= link_to "Edit" , edit_project_url(@project) %></div>
  <div> <%= link_to "Delete" , @project, method: :delete, data: {confirm:"Are you sure?"}%></div>
    <!-- link_to "Make a Pledge" , new_pledge_path  -->

</div>  

<%= render @project.rewards %>
